<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<header>
    <h1>UFC</h1>
</header>
<body class="container">
    <h2>Fighters</h2>
    <div class="container">
        <a href="/previous_events">Previous Events</a>
    </div>
    <div id="table"></div>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script>
        new gridjs.Grid({
            columns: [
                { id: 'name', name: 'Name' },
                { id: 'nationality', name: 'Nationality' },
                { id: 'age', name: 'Age', sort: { compare: (a, b) => a - b } },
                { 
                    id: 'weight_class', 
                    name: 'Weight class', 
                    sort: 
                        { 
                            compare: (a, b) => {
                                const weightClasses = ['None', 'Strawweight' ,'Flyweight', 'Bantamweight', 'Featherweight', 'Lightweight', 'Welterweight', 'Middleweight', 'Light Heavyweight', 'Heavyweight', 'Super Heavyweight'];
                                return weightClasses.indexOf(a) - weightClasses.indexOf(b);
                            }
                    }
                },
                { id: 'wins', name: 'Wins', sort: { compare: (a, b) => a - b } },
                { id: 'losses', name: 'Losses', sort: { compare: (a, b) => a - b } }
            ],
            data: [
                {% for fighter in fighters %}
                    {
                        name: '{{ fighter.name }}',
                        nationality: '{{ fighter.nationality }}',
                        age: '{{ fighter.age }}',
                        weight_class: '{{ fighter.weight_class }}',
                        wins: '{{ fighter.wins }}',
                        losses: '{{ fighter.losses }}'
                    },
                {% endfor %}
            ],
            search: true,
            sort: true,
            pagination: {
                limit: 20 
            } 
        }).render(document.getElementById("table"));
    </script>
</body>