<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>   
</head>
<header>
    <h1>UFC</h1>
    <h2>{{ title }}</h2>
</header>
<body class="container">
    <div class="menu">
        {% set ns = namespace(c=0) %}
        {% for page in page_list %}
            {% if page['url'] != page_name %}
                <a href="{{ page['url'] }}">{{ page.title }}</a>
                {% set ns.c = ns.c + 1%}
                {% if ns.c < page_list|length %}
                    <span> | </span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <table class="table">
            <tr>
                <th colspan="3">Result</th> 
                <th>Weight Class</th>
                <th>Method</th>
                <th>Round</th>
                <th>Time</th>
            </tr>
            {% for fight in fights %}
                <tr>
                    <td style="text-align: left">{{fight['left_fighter_name']}}</td>
                    {% if fight['left_status'] == 'win'%}
                        <td>def.</td> 
                    {% else %}
                        <td>{{fight['left_status']}}</td>
                    {% endif %}
                    <td>{{fight['right_fighter_name']}}</td>
                    <td>{{fight['weight_class']}}</td>
                    <td>{{fight['method']}}</td>
                    <td>{{fight['round']}}</td>
                    <td>{{fight['time']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</head>
</html>
