<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body>
    <header>
        <h1>UFC</h1>
        <h2>Home</h2>
    </header>
    <div class="menu">
        {% set ns = namespace(c=1) %}
        {% for page in page_list %}
            {% if page['url'] != url %}
                <a href="{{ page['url'] }}">{{ page.title }}</a>
                {% set ns.c = ns.c + 1%}
                {% if ns.c < page_list|length %}
                    <span> | </span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <br />
    <div class="container">
        <h3>{{ weeks_to_event }} - {{ fights[0]['event_title'] }}</h3> 
        <table class="table">
            <tr>
                <th colspan="3">Fight</th> 
                <th>Weight Class</th>
            </tr> 
            {% for fight in fights %}
                <tr>
                    <td>{{ fight['left_fighter_name'] }}</td>
                    <td>vs</td>
                    <td>{{ fight['right_fighter_name'] }}</td>
                    <td>{{ fight['weight_class'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
