<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body>
    <header>
        <h1>UFC</h1>
    </header>
    <div class="container">
        <a href="/previous_events">Previous Events</a>
        <a href="/fighters">Fighters</a>
    </div>
</body>
