<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>   
</head>
<header>
    <h1>UFC</h1>
    <h2>Previous Events</h2>
</header>
<body>
    <div class="menu">
        {% set ns = namespace(c=1) %}
        {% for page in page_list %}
            {% if page['url'] != url %}
                <a href="{{ page['url'] }}">{{ page.title }}</a>
                {% set ns.c = ns.c + 1%}
                {% if ns.c < page_list|length %}
                    <span> | </span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="table"></div>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script>
        let event_columns = [
            { id: "title", name: "Title" },
            { id: "date", name: "Date" },
            { id: "location", name: "Location" },
        ] 
        new gridjs.Grid({
            column: fight_columns,
            server: {
                url: '/api/events',
                then: data => data.fights,
                total: data => data.pagination?.total,
            }
        }).render(document.getElementById("table"));
    </script>
</body>
</html>