<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFC Archive</title>
    <meta name="ufc archive website" content="previous events and fighters info" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<header>
    <h1>UFC</h1>
</header>
<body>
    <h2>Previous Events</h2>
    <div class="container">
        <a href="/fighters">Fighters</a>
    </div>
    <div id="table"></div>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script>
        new gridjs.Grid({
            columns: [
                { id: 'event_title', name: 'Event' },
                { id: 'left_fighter_name', name: 'Left Fighter' },
                { id: 'left_status', name: 'Status' },
                { id: 'right_fighter_name', name: 'Right Fighter' },
                { id: 'right_status', name: 'Status' },
                { id: 'weight_class', name: 'Weight Class' },
                { id: 'method', name: 'Method' },
                { id: 'round', name: 'Round' },
                { id: 'time', name: 'Time' }
            ],
            data: [
                {% for e in events %}
                    {
                        event_title: '{{ e.event_title }}',
                        left_fighter_name: '{{ e.left_fighter_name }}',
                        left_status: '{{ e.left_status }}',
                        right_fighter_name: '{{ e.right_fighter_name }}',
                        right_status: '{{ e.right_status }}',
                        weight_class: '{{ e.weight_class }}',
                        method: '{{ e.method }}',
                        round: '{{ e.round }}',
                        time: '{{ e.time }}'
                    },
                {% endfor %}
            ],
        }).render(document.getElementById("table"));
    </script>
</body>
